body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f6f9fc;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"],
select,
input[type="date"] {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 20%;
    box-sizing: border-box;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #16a085;
    transform: scale(1.05);
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f0f0f0;
}

li button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

li button:hover {
    background-color: #c0392b;
}

input[type="text"],
select,
input[type="date"] {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
select:focus,
input[type="date"]:focus {
    border-color: #1abc9c;
}