body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

.slider-container {
    position: relative;
}

.slider {
    position: relative;
    width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.slides {
    display: flex;
    transition: transform 0.5s;
    height: 400px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

img {
    object-fit: cover;
    height: 400px;
    border-radius: 10px;
}


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #333;
}